<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="led" data-view="Text" data-text="Led is off" data-moreinfo="This shows whether or not the led is on or off"></div>
    </li>
  </ul>
</div>
